/*.jw-skin-custom .jw-display-icon-container {
    border-radius: 3.5em
}
.jw-skin-custom .jw-display-icon-container>.jw-icon {
    color: rgba(255, 255, 255, 0.9)
}
.jw-skin-custom.jw-breakpoint-2 .jw-display .jw-icon {
    width: 66px;
    height: 66px;
    line-height: 66px
}
.jw-skin-custom .jw-dock-button {
    border-radius: 2.5em
}
.jw-skin-custom .jw-dock-button:hover {
    background: rgba(33, 33, 33, 0.8)
}
.jw-skin-custom .jw-menu {
    padding: 0
}
.jw-skin-custom .jw-dock .jw-overlay {
    border-radius: .5em
}
.jw-skin-custom .jw-skip {
    border-radius: .5em
}
.jw-skin-custom .jw-text {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.jw-skin-custom .jw-related-item-title span, .jw-skin-custom .jw-related-item-description {
    direction: rtl;
    text-align: right;
}

.jw-skin-custom.jw-breakpoint-2 .jw-icon.jw-icon-display, .jw-skin-custom.jw-breakpoint-1 .jw-icon.jw-icon.jw-icon-display {
    width: 60px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.jw-skin-custom .jw-icon.jw-icon-display::before {
    font-size: 28px;
    position: relative;

}

.jw-skin-custom.jw-breakpoint-1 .jw-slider-horizontal .jw-slider-container {
    margin-left: 4px;
}


.jw-skin-custom .jw-related-item-container {
    direction: rtl;
    text-align: right;
}

.jw-skin-custom .jw-related-item-title strong {
    direction: rtl;
    text-align: right;
}

.jw-skin-custom .jw-display-icon-container.jw-background-color.jw-reset {
    float: none;
}

.jw-skin-custom .jw-nextup-container.jw-reset.jw-nextup-sticky.jw-nextup-container-visible {
    left: initial;
    right: 0;
}

.jw-skin-custom .jw-display-icon-container .jw-icon {
    line-height: 1em;
}

.jw-skin-custom .jw-controlbar-center-group .jw-text-alt {
    position: static;
}

.jw-skin-custom .jw-title-primary {
    display: none;
}

.jw-skin-custom .jw-menu {
    display: none;
}*/

/*.jw-skin-custom .jw-icon-hd {
    display: none;
}*/


/*
.jw-skin-custom .jw-related-item-title .jw-item-index-text em {
     display: none;
 }
*/


/*
.jw-skin-custom .jw-display-icon-container,
.jw-skin-custom:hover .jw-display-icon-container {
    border-radius: 4px;
    background: rgba(170, 18, 13, 0.85) !importan§t;
}

.jw-skin-sna .jw-display-icon-container .jw-button-color {
    color: #FFFFFF;
}

.jw-skin-custom.jw-state-paused .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-idle .jw-display-icon-container .jw-icon-display:before {
    font-size: 1.7rem;
}

.jw-skin-custom.jw-state-paused.jw-breakpoint-0 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-idle.jw-breakpoint-0 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-paused.jw-breakpoint-1 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-idle.jw-breakpoint-1 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-paused.jw-breakpoint-2 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-idle.jw-breakpoint-2 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-paused.jw-breakpoint-3 .jw-display-icon-container .jw-icon-display:before,
.jw-skin-custom.jw-state-idle.jw-breakpoint-3 .jw-display-icon-container .jw-icon-display:before
{
    font-size: 2.5rem !important;
}*/

.jw-icon-settings {
display:none;
}
